# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
## OSX
.DS_Store

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Pods/Manifest.lock
Pods/Firebase/README.md
Pods/Firebase/Core/Sources/Firebase.h
Pods/Firebase/Core/Sources/module.modulemap
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/FirebaseAnalytics
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRAnalytics+AppDelegate.h
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRAnalytics.h
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRAnalyticsConfiguration.h
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRApp.h
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRConfiguration.h
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FirebaseAnalytics.h
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIREventNames.h
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIROptions.h
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRParameterNames.h
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRUserPropertyNames.h
Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Modules/module.modulemap
Pods/FirebaseAuth/CHANGELOG.md
Pods/FirebaseAuth/README.md
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/FirebaseAuth
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRAuth.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRAuthCredential.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRAuthErrors.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FirebaseAuth.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FirebaseAuthVersion.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIREmailPasswordAuthProvider.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRFacebookAuthProvider.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRGitHubAuthProvider.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRGoogleAuthProvider.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRTwitterAuthProvider.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRUser.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRUserInfo.h
Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Modules/module.modulemap
Pods/FirebaseCore/Frameworks/FirebaseCore.framework/FirebaseCore
Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FIRAnalyticsConfiguration.h
Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FIRApp.h
Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FIRConfiguration.h
Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FirebaseCore.h
Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FIRLoggerLevel.h
Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FIROptions.h
Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Modules/module.modulemap
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/FirebaseDatabase
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Info.plist
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/NOTICE
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRDatabase.h
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRDatabaseQuery.h
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRDatabaseReference.h
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRDataEventType.h
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRDataSnapshot.h
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FirebaseDatabase.h
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRMutableData.h
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRServerValue.h
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRTransactionResult.h
Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Modules/module.modulemap
Pods/FirebaseInstanceID/CHANGELOG.md
Pods/FirebaseInstanceID/README.md
Pods/FirebaseInstanceID/Frameworks/FirebaseInstanceID.framework/FirebaseInstanceID
Pods/FirebaseInstanceID/Frameworks/FirebaseInstanceID.framework/Headers/FirebaseInstanceID.h
Pods/FirebaseInstanceID/Frameworks/FirebaseInstanceID.framework/Headers/FIRInstanceID.h
Pods/FirebaseInstanceID/Frameworks/FirebaseInstanceID.framework/Modules/module.modulemap
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/FirebaseStorage
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FirebaseStorage.h
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorage.h
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageConstants.h
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageDownloadTask.h
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageMetadata.h
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageObservableTask.h
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageReference.h
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageTask.h
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageTaskSnapshot.h
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageUploadTask.h
Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Modules/module.modulemap
Pods/GoogleToolboxForMac/GTMDefines.h
Pods/GoogleToolboxForMac/LICENSE
Pods/GoogleToolboxForMac/README.md
Pods/GoogleToolboxForMac/DebugUtils/GTMDebugSelectorValidation.h
Pods/GoogleToolboxForMac/DebugUtils/GTMDebugThreadValidation.h
Pods/GoogleToolboxForMac/DebugUtils/GTMMethodCheck.h
Pods/GoogleToolboxForMac/Foundation/GTMNSData+zlib.h
Pods/GoogleToolboxForMac/Foundation/GTMNSData+zlib.m
Pods/GoogleToolboxForMac/Foundation/GTMNSDictionary+URLArguments.h
Pods/GoogleToolboxForMac/Foundation/GTMNSDictionary+URLArguments.m
Pods/GoogleToolboxForMac/Foundation/GTMNSString+URLArguments.h
Pods/GoogleToolboxForMac/Foundation/GTMNSString+URLArguments.m
Pods/GTMSessionFetcher/LICENSE
Pods/GTMSessionFetcher/README.md
Pods/GTMSessionFetcher/Source/GTMSessionFetcher.h
Pods/GTMSessionFetcher/Source/GTMSessionFetcher.m
Pods/GTMSessionFetcher/Source/GTMSessionFetcherLogging.h
Pods/GTMSessionFetcher/Source/GTMSessionFetcherLogging.m
Pods/GTMSessionFetcher/Source/GTMSessionFetcherService.h
Pods/GTMSessionFetcher/Source/GTMSessionFetcherService.m
Pods/GTMSessionFetcher/Source/GTMSessionUploadFetcher.h
Pods/GTMSessionFetcher/Source/GTMSessionUploadFetcher.m
Pods/Headers/Private/Firebase/Firebase.h
Pods/Headers/Public/Firebase/Firebase.h
Pods/JSQMessagesViewController/LICENSE
Pods/JSQMessagesViewController/README.md
Pods/JSQMessagesViewController/JSQMessagesViewController/JSQMessages.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/ar.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Base.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/de.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/en.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/es.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/fi.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/fr.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/he.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/id.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_min.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_min@2x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_min@3x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_min_tailless.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_min_tailless@2x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_min_tailless@3x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_regular.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_regular@2x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_regular@3x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_stroked.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_stroked@2x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_stroked@3x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_stroked_tailless.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_stroked_tailless@2x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_stroked_tailless@3x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_tailless.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_tailless@2x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/bubble_tailless@3x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/clip.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/clip@2x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/clip@3x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/pause.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/pause@2x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/pause@3x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/play.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/play@2x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/play@3x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/typing.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/typing@2x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Images/typing@3x.png
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/it.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/ja.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/ko.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/ms.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/nb.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/nl.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/pl.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/pt.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/ro.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/ru.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Sounds/message_received.aiff
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/Sounds/message_sent.aiff
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/th.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/tr.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/vi.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/zh-Hans.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Assets/JSQMessagesAssets.bundle/zh-Hant.lproj/JSQMessages.strings
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/JSQSystemSoundPlayer+JSQMessages.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/JSQSystemSoundPlayer+JSQMessages.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/NSBundle+JSQMessages.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/NSBundle+JSQMessages.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/NSString+JSQMessages.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/NSString+JSQMessages.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/UIColor+JSQMessages.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/UIColor+JSQMessages.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/UIDevice+JSQMessages.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/UIDevice+JSQMessages.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/UIImage+JSQMessages.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/UIImage+JSQMessages.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/UIView+JSQMessages.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Categories/UIView+JSQMessages.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Controllers/JSQMessagesKeyboardController.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Controllers/JSQMessagesKeyboardController.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Controllers/JSQMessagesViewController.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Controllers/JSQMessagesViewController.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Controllers/JSQMessagesViewController.xib
Pods/JSQMessagesViewController/JSQMessagesViewController/Factories/JSQMessagesAvatarImageFactory.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Factories/JSQMessagesAvatarImageFactory.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Factories/JSQMessagesBubbleImageFactory.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Factories/JSQMessagesBubbleImageFactory.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Factories/JSQMessagesMediaViewBubbleImageMasker.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Factories/JSQMessagesMediaViewBubbleImageMasker.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Factories/JSQMessagesTimestampFormatter.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Factories/JSQMessagesTimestampFormatter.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Factories/JSQMessagesToolbarButtonFactory.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Factories/JSQMessagesToolbarButtonFactory.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Layout/JSQAudioMediaViewAttributes.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Layout/JSQAudioMediaViewAttributes.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Layout/JSQMessagesBubbleSizeCalculating.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Layout/JSQMessagesBubblesSizeCalculator.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Layout/JSQMessagesBubblesSizeCalculator.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Layout/JSQMessagesCollectionViewFlowLayout.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Layout/JSQMessagesCollectionViewFlowLayout.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Layout/JSQMessagesCollectionViewFlowLayoutInvalidationContext.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Layout/JSQMessagesCollectionViewFlowLayoutInvalidationContext.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Layout/JSQMessagesCollectionViewLayoutAttributes.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Layout/JSQMessagesCollectionViewLayoutAttributes.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQAudioMediaItem.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQAudioMediaItem.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQLocationMediaItem.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQLocationMediaItem.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMediaItem.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMediaItem.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessage.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessage.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessageAvatarImageDataSource.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessageBubbleImageDataSource.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessageData.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessageMediaData.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessagesAvatarImage.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessagesAvatarImage.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessagesBubbleImage.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessagesBubbleImage.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessagesCollectionViewDataSource.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQMessagesCollectionViewDelegateFlowLayout.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQPhotoMediaItem.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQPhotoMediaItem.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQVideoMediaItem.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Model/JSQVideoMediaItem.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCellTextView.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCellTextView.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCollectionView.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCollectionView.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCollectionViewCell.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCollectionViewCell.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCollectionViewCellIncoming.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCollectionViewCellIncoming.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCollectionViewCellIncoming.xib
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCollectionViewCellOutgoing.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCollectionViewCellOutgoing.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesCollectionViewCellOutgoing.xib
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesComposerTextView.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesComposerTextView.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesInputToolbar.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesInputToolbar.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesLabel.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesLabel.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesLoadEarlierHeaderView.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesLoadEarlierHeaderView.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesLoadEarlierHeaderView.xib
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesMediaPlaceholderView.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesMediaPlaceholderView.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesToolbarContentView.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesToolbarContentView.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesToolbarContentView.xib
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesTypingIndicatorFooterView.h
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesTypingIndicatorFooterView.m
Pods/JSQMessagesViewController/JSQMessagesViewController/Views/JSQMessagesTypingIndicatorFooterView.xib
Pods/JSQSystemSoundPlayer/LICENSE
Pods/JSQSystemSoundPlayer/README.md
Pods/JSQSystemSoundPlayer/JSQSystemSoundPlayer/Classes/JSQSystemSoundPlayer.h
Pods/JSQSystemSoundPlayer/JSQSystemSoundPlayer/Classes/JSQSystemSoundPlayer.m
Pods/Pods.xcodeproj/project.pbxproj
Pods/SwiftGifOrigin/LICENSE
Pods/SwiftGifOrigin/README.md
Pods/SwiftGifOrigin/SwiftGifCommon/UIImage+Gif.swift
Pods/Target Support Files/GoogleToolboxForMac/GoogleToolboxForMac-dummy.m
Pods/Target Support Files/GoogleToolboxForMac/GoogleToolboxForMac-prefix.pch
Pods/Target Support Files/GoogleToolboxForMac/GoogleToolboxForMac-umbrella.h
Pods/Target Support Files/GoogleToolboxForMac/GoogleToolboxForMac.modulemap
Pods/Target Support Files/GoogleToolboxForMac/GoogleToolboxForMac.xcconfig
Pods/Target Support Files/GoogleToolboxForMac/Info.plist
Pods/Target Support Files/GTMSessionFetcher/GTMSessionFetcher-dummy.m
Pods/Target Support Files/GTMSessionFetcher/GTMSessionFetcher-prefix.pch
Pods/Target Support Files/GTMSessionFetcher/GTMSessionFetcher-umbrella.h
Pods/Target Support Files/GTMSessionFetcher/GTMSessionFetcher.modulemap
Pods/Target Support Files/GTMSessionFetcher/GTMSessionFetcher.xcconfig
Pods/Target Support Files/GTMSessionFetcher/Info.plist
Pods/Target Support Files/JSQMessagesViewController/Info.plist
Pods/Target Support Files/JSQMessagesViewController/JSQMessagesViewController-dummy.m
Pods/Target Support Files/JSQMessagesViewController/JSQMessagesViewController-prefix.pch
Pods/Target Support Files/JSQMessagesViewController/JSQMessagesViewController-umbrella.h
Pods/Target Support Files/JSQMessagesViewController/JSQMessagesViewController.modulemap
Pods/Target Support Files/JSQMessagesViewController/JSQMessagesViewController.xcconfig
Pods/Target Support Files/JSQSystemSoundPlayer/Info.plist
Pods/Target Support Files/JSQSystemSoundPlayer/JSQSystemSoundPlayer-dummy.m
Pods/Target Support Files/JSQSystemSoundPlayer/JSQSystemSoundPlayer-prefix.pch
Pods/Target Support Files/JSQSystemSoundPlayer/JSQSystemSoundPlayer-umbrella.h
Pods/Target Support Files/JSQSystemSoundPlayer/JSQSystemSoundPlayer.modulemap
Pods/Target Support Files/JSQSystemSoundPlayer/JSQSystemSoundPlayer.xcconfig
Pods/Target Support Files/Pods-SWSG/Info.plist
Pods/Target Support Files/Pods-SWSG/Pods-SWSG-acknowledgements.markdown
Pods/Target Support Files/Pods-SWSG/Pods-SWSG-acknowledgements.plist
Pods/Target Support Files/Pods-SWSG/Pods-SWSG-dummy.m
Pods/Target Support Files/Pods-SWSG/Pods-SWSG-frameworks.sh
Pods/Target Support Files/Pods-SWSG/Pods-SWSG-resources.sh
Pods/Target Support Files/Pods-SWSG/Pods-SWSG-umbrella.h
Pods/Target Support Files/Pods-SWSG/Pods-SWSG.debug.xcconfig
Pods/Target Support Files/Pods-SWSG/Pods-SWSG.modulemap
Pods/Target Support Files/Pods-SWSG/Pods-SWSG.release.xcconfig
Pods/Target Support Files/SwiftGifOrigin/Info.plist
Pods/Target Support Files/SwiftGifOrigin/SwiftGifOrigin-dummy.m
Pods/Target Support Files/SwiftGifOrigin/SwiftGifOrigin-prefix.pch
Pods/Target Support Files/SwiftGifOrigin/SwiftGifOrigin-umbrella.h
Pods/Target Support Files/SwiftGifOrigin/SwiftGifOrigin.modulemap
Pods/Target Support Files/SwiftGifOrigin/SwiftGifOrigin.xcconfig
